.Rproj.user
.Rhistory
.RData
.Ruserdata
ml-10M100K
Rplot001.png
Rplot002.png
Rplot003.png
Rplot004.png
Rplot005.png
Rplot006.png
Rplot007.png
Rplot008.png
Rplot009.png
Rplot010.png
Rplot011.png
Rplot012.png
Rplot013.png
